<!--
<h1>Hello Zain</h1>
{{ title}}
<h1>my name is : {{name}}</h1>
<p>{{obj.name}} , {{obj.age}}</p>
<p>{{arr.length}} , {{arr}} , {{arr[2]}}</p>

<p>function : {{getName()}}</p>
-->
<!--<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>

<button (click)="getMyName()">click me</button>

<p>Create module, then create components in it, exports components in module
 then import module in app module</p>-->
<!--<h1>Events</h1>
<button (click)="myEvent('click event')">click</button> <br><br>
<label>
  Blur
  <input type="text" (blur)="myEvent('blur event')">
</label><br><br><br>

<label>
  Key event
  <input type="text" #box (keydown.enter)="myEvent(box.value)"> <br><br>
</label>

<label>
  Key event space
  <input type="text" #box (keydown.space)="myEvent(box.value)">
</label>-->

<!--
<h1>Get textbox value</h1>

<input type="text" #box (keyup)="getVal($event.target.value)">

<button (click)="getVal(box.value)">click</button>

{{currentVal}}
-->
<!--<h1>Property Binding</h1>

<input type="text" disabled="{{disableButton}}" [value]="name"> <br><br>

<input type="text" [disabled]="disableButton" value="{{name}}"> <br><br>

<button (click)="enablebutton()">enable</button>-->

<h1>Condition statement</h1>
<h1 *ngIf="show == 'yes'; then ifblock else elseblock">
</h1>

<ng-template #ifblock>if block</ng-template>
<ng-template #elseblock>else block</ng-template><br>

<ng-template [ngIf]="color == 'red'">red color</ng-template>
<ng-template [ngIf]="color == 'green'">green color</ng-template>
<ng-template [ngIf]="color == 'blue'">blue color</ng-template>

<h1>Switch statement</h1>
<div [ngSwitch]="color">
  <h1 style="color: red" *ngSwitchCase="'red'">Red</h1>
  <h1 style="color: green" *ngSwitchCase="'green'">Green</h1>
  <h1 style="color: yellow" *ngSwitchCase="'yellow'">Yellow</h1>
  <h1 style="color: blue" *ngSwitchCase="'blue'">Blue</h1>
</div>

<h1>For Loop</h1>

<table [border]="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let u of users">
    <td>{{u.name}}</td>
    <td>{{u.age}}</td>
    <td>{{u.email}}</td>
  </tr>

</table>


