<app-header></app-header>
<!-- <h1>Hello Zain</h1>
    {{ title}}
    <h1>my name is : {{name}}</h1>
    <p>{{obj.name}} , {{obj.age}}</p>
    <p>{{arr.length}} , {{arr}} , {{arr[2]}}</p>

    <p>function : {{getName()}}</p>
    -->
<!--<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>

<button (click)="getMyName()">click me</button>

<p>Create module, then create components in it, exports components in module
 then import module in app module</p>-->
<!--<h1>Events</h1>
<button (click)="myEvent('click event')">click</button> <br><br>
<label>
  Blur
  <input type="text" (blur)="myEvent('blur event')">
</label><br><br><br>

<label>
  Key event
  <input type="text" #box (keydown.enter)="myEvent(box.value)"> <br><br>
</label>

<label>
  Key event space
  <input type="text" #box (keydown.space)="myEvent(box.value)">
</label>-->

<!--
<h1>Get textbox value</h1>

<input type="text" #box (keyup)="getVal($event.target.value)">

<button (click)="getVal(box.value)">click</button>

{{currentVal}}
-->
<!--<h1>Property Binding</h1>

<input type="text" disabled="{{disableButton}}" [value]="name"> <br><br>

<input type="text" [disabled]="disableButton" value="{{name}}"> <br><br>

<button (click)="enablebutton()">enable</button>-->

<!-- <h1>Condition statement</h1>
<h1 *ngIf="show == 'yes'; then ifblock else elseblock">
</h1>

<ng-template #ifblock>if block</ng-template>
<ng-template #elseblock>else block</ng-template><br>

<ng-template [ngIf]="color == 'red'">red color</ng-template>
<ng-template [ngIf]="color == 'green'">green color</ng-template>
<ng-template [ngIf]="color == 'blue'">blue color</ng-template>

<h1>Switch statement</h1>
<div [ngSwitch]="color">
  <h1 style="color: red" *ngSwitchCase="'red'">Red</h1>
  <h1 style="color: green" *ngSwitchCase="'green'">Green</h1>
  <h1 style="color: yellow" *ngSwitchCase="'yellow'">Yellow</h1>
  <h1 style="color: blue" *ngSwitchCase="'blue'">Blue</h1>
</div>

<h1>For Loop</h1>

<table [border]="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let u of users">
    <td>{{u.name}}</td>
    <td>{{u.age}}</td>
    <td>{{u.email}}</td>
  </tr>

</table> -->
<!--<div class="form_center">
    <h1>Forms in Angular</h1>

    <form #userform="ngForm" (ngSubmit)="getUserform(userform.value)">
        <input type="text" ngModel placeholder="enter name" name="username"><br><br>
        <input type="text" ngModel placeholder="enter address" name="address"><br><br>
        <input type="text" ngModel placeholder="enter age" name="age"><br><br>
        <input type="password" ngModel placeholder="enter password" name="password"><br><br>
        <button type="submit">Get user value</button>
    </form>
</div>-->
<!--<h1>Style binding & add bootstrap</h1>-->

<!--<h1 style="color: greenyellow">Normal style</h1>
<h1 [style.color]="'blue'">Style binding</h1>
<h1 [style.color]="color">Dynamic binding</h1>
<button (click)="changeColor()">Change color</button>
<h1 [style.color]="err?'red':'green'">Conditonal binding</h1>-->
<!--<p>Custom rating template provided via a variable. Shows fine-grained rating display</p>-->

<!--<ng-template #t let-fill="fill">-->
<!--  <span class="star" [class.full]="fill === 100">-->
<!--    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;-->
<!--  </span>-->
<!--</ng-template>-->

<!--<ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>-->

<!--<hr>-->
<!--<pre>Rate: <b>{{currentRate}}</b></pre>-->
<!--<button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 1.35">1.35</button>-->
<!--<button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 4.72">4.72</button>-->
<!--
<h2>Material UI</h2>
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
-->
<!--h1>Pass data from parent to child component</h1>
<app-child [hero]="data"></app-child> &lt;!&ndash;data transfer to child component&ndash;&gt;-->

<!--<h1>Pass data from child to parent component</h1>
<app-child (parentComponent)="parentComponent($event)"></app-child>

{{data.name}}-->

<!--<h1>Pipes in Angular</h1>
{{ 1234.56 | currency:'CAD' }}<br>
{{ 1234.56 | currency:'INR' }}<br>
{{ 1234.56 | currency:'RP' }}<br>
{{'zain' | uppercase }}<br>
{{'ZAIN' | lowercase }}<br>
<p>{{ 0.123456 | percent }}</p><br>
<p>{{ [1, 2, 3, 4, 5, 6] | slice:1:3 }}</p>

<h1>Routing</h1>
<a routerLink="header">Header</a><br>
<a routerLink="footer">Footer</a><br>
<a routerLink="about">About</a><br>
<a routerLink="contact">Contact</a><br>

<h1>Custom Directives</h1>
<h4>Simple</h4>
<h4 appCustomDirective>Custom</h4>
<router-outlet></router-outlet>-->
{{myname}}
<app-footer></app-footer>
